:root {
  --soft-red: hsla(7, 99%, 70%, 0.3);
  --soft-yellow: hsla(51, 100%, 49%, 0.5);
  --yellow: hsl(51, 100%, 49%);
  --red: hsla(7, 99%, 70%, 0.6);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-greyish-blue: hsl(213, 9%, 39%);
  --dark-greyish-blue: hsl(232, 10%, 55%);
  --greyish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --cyan: #95d6c9;
  --font: "Barlow", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: 0;
  font-size: 62.5%; }

body {
  font-family: var(--font);
  font-weight: 600; }

.container {
  display: grid; }

.header {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: contain;
  background-position: center;
  height: 100vh;
  padding-top: 4rem; }
  .header__logo {
    height: 30px;
    margin-left: 400px;
    margin-top: 15px;
    transform: scale(1.75); }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    margin: auto; }
  .header__links {
    display: flex;
    list-style: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.75rem;
    padding-right: 4rem; }
  .header__link:not(:last-child) {
    margin-right: 4.5rem; }
  .header__heading {
    color: #fff;
    text-transform: uppercase;
    width: 100rem;
    font-weight: 900;
    font-size: 8rem;
    text-align: center;
    letter-spacing: 1.75rem;
    margin: 20vh 25vw 0 25vw; }
  .header__arrdown {
    position: relative;
    background-color: #fff;
    border-radius: 10rem;
    width: 0.5rem;
    height: 13rem;
    margin: 12vh 50vw 0 50vw; }
    .header__arrdown::before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      border-radius: 10rem;
      height: 3rem;
      background-color: #fff;
      transform: rotate(-45deg);
      position: absolute;
      bottom: -0.3rem;
      right: 1rem; }
    .header__arrdown::after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      border-radius: 10rem;
      height: 3rem;
      background-color: #fff;
      transform: rotate(45deg);
      position: absolute;
      bottom: -0.3rem;
      left: 1rem; }

.footer {
  height: 30vh;
  background-color: var(--dark-desaturated-cyan); }

.gallery {
  height: 30vh;
  background-color: var(--greyish-blue); }

.testimonials {
  height: 50vh;
  background-color: var(--dark-blue); }

.body {
  height: 50vh;
  background-color: var(--red); }
