.header {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: contain;
  background-position: center;
  height: 100vh;
  padding-top: 4rem;

  &__logo {
    height: 30px;
    margin-left: 400px;
    margin-top: 15px;
    transform: scale(1.75);
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    margin: auto;
  }

  &__links {
    display: flex;

    list-style: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.75rem;
    padding-right: 4rem;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__heading {
    color: #fff;
    text-transform: uppercase;
    width: 100rem;
    font-weight: 900;
    font-size: 8rem;
    text-align: center;
    letter-spacing: 1.75rem;
    margin: 20vh 25vw 0 25vw;
  }

  &__arrdown {
    position: relative;
    background-color: #fff;
    border-radius: 10rem;
    width: 0.5rem;
    height: 13rem;
    margin: 12vh 50vw 0 50vw;

    &::before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      border-radius: 10rem;
      height: 3rem;
      background-color: #fff;
      transform: rotate(-45deg);
      position: absolute;
      bottom: -0.3rem;
      right: 1rem;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      border-radius: 10rem;
      height: 3rem;
      background-color: #fff;
      transform: rotate(45deg);
      position: absolute;
      bottom: -0.3rem;
      left: 1rem;
    }
  }
}
